<article class="panel is-primary">
  <p class="panel-heading">
    Friend Suggestions
  </p>
  
  <% if @friend_suggestions.any? %>
    <% for user in @friend_suggestions %>
      <div class="panel-block">
        <span class="panel-icon">
          <figure class="image">
            <%= image_tag user_avatar(user), alt:"Profile picture", class:"is-rounded" %>
          </figure>
        </span>
        <%= link_to user, class: "has-text-black" do %>
          <%= user.name %>
        <% end %>

        <span class="panel-icon spaced">
          <%= link_to friendships_path(friend_id: user), method: :post do %>
            <i class="fas fa-user-plus" aria-hidden="true"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  <% else %>
    <div class="panel-block icon-text">
      <span class="icon">
        <i class="fas fa-heart-broken"></i>
      </span>
      <span>None found...</span>
    </div>
  <% end %>
</article>
