<%= render 'about' %>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= render @user == current_user ? 'posts/feed' : 'user_feed' %>
      <div class="column is-one-quarter">
        <% if current_user == @user %>
          <%= render 'users/friend_requests' if @friend_requests.any? %>
          <%= render 'users/suggested_friends' %>
        <% end %>
      </div>
    </div>
  </div>
</section>