<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :body, label: false, input_html: { class: "textarea has-fixed-size", rows: "2" }, wrapper: false, label_html: 
        { class: "label" }, placeholder: "What's on your mind " + current_user.name + "?"%>
    </div>
  </div>
  <%= f.submit "Update", class: "button is-info" %>
<% end %>