<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
        <h1 class="title">Edit Post</h1>
        <article class="media box">
          <figure class="media-left">
            <p class="image is-64x64">
              <%= image_tag "blank-profile-picture.jpg", alt: "Blank profile picture", class:"is-rounded" %>
            </p>
          </figure>
          <div class="media-content">
            <%= render 'form', post: @post %>
          </div>
        </article>
			</div>
		</div>
	</div>
</div>

<nav class="navbar is-fixed-bottom">
	<div class="navbar-menu">
		<div class="navbar-item">
			<div class="field is-grouped">
				<p class="control">
					<%= link_to 'Cancel', posts_path, class: "button is-dark" %>
				</p>
		</div>
	</div>
</nav>