<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= render 'feed' %>
      <div class="column is-one-quarter">
        <%= render 'users/friend_requests' %>
        <%= render 'users/suggested_friends' if @friend_requests.any? %>
      </div>
    </div>
  </div>
</section>