// change bulma default colors
$primary: #374EFB;
$link: #374EFB;
$info: #374EFB;
$warning: #ff6e61; //7383FC

@import "bulma";

/****** HEADER ******/

// add spacing between profile picture and name
.user-name {
  padding-left: 0.5em;
}

/****** DEVISE ******/

// remove gap between header and notifications
.notification:not(:last-child) {
  margin-bottom: 0;
}

// add space after radio buttons
input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

// logo on devise pages
.userpage-logo {
  padding-bottom: 0.75em;
  width: 60%;
}

// add space above links on sign in and sign up pages
.button.is-info.is-medium {
  margin-bottom: 0.5em;
}

// card for devise pages
.user-card {
  background-color: white;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: $box-shadow;
}

// white text above background
.white-text {
  color: white;
}

// center columns vertically on non-scrolling devise pages
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// facebook oath button
.button.facebook {
  margin-top: 1em;
  background-color: #1778F2;
  color: white;
}

/****** BACKGROUND PICTURES ******/

// add background to devise pages
.background { 
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.background.one {
  background-image: image-url('DT1.jpg');
}
.background.two {
  background-image: image-url('DT2.jpg');
}
.background.three {
  background-image: image-url('DT3.jpg');
}
.background.four {
  background-image: image-url('DT4.jpg');
}
.background.five {
  background-image: image-url('DT5.jpg');
}

/****** POSTS ******/

// add spacing around post elements
.post-body {
  padding: 1em 0;
}
.post-info {
  padding: 0.5em 0;
}
.post-comments {
  padding-top: 2em;
}

// add margin above nested comments
.media .media {
  margin-top: 1rem;
}

/****** USERS ******/

// add space between users name and add friend icon and between accept and delete friendship buttons
.panel-icon.spaced, .icon-text.spaced, .subtitle.is-6.has-text-danger {
  padding-left: 1.5em;
}

// no rounding on banner image
.card-image:first-child img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// size banner image
.banner-image {
  height: 35vh;
  overflow: hidden;
}

// center profile name and info, and box of posts when no posts made
.card-content.centered, .box.no-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// reduce padding below friend info and buttons on show page
.subtitle.is-6 {
  margin-bottom: 0.5em;
}

// adjust spacing on top posts
.panel-icon.posts {
  padding: 0.5em;
}
.media.posts + .media.posts {
  margin-top: 0;
  padding-top: 0;
}
.media.posts {
  padding: 0.5em;
}
.media-content.posts {
  padding-left: 0.5em;
}

// add space beside user avatar on edit page
.image.avatar {
  padding-right: 0.5em;
}