// change bulma default colors
$primary: #374EFB;
$link: #374EFB;
$info: #374EFB;

@import "bulma";

/****** DEVISE ******/

// remove gap between header and notifications
.notification:not(:last-child) {
  margin-bottom: 0;
}

// add space after radio buttons
input[type="radio"], input[type="checkbox"] {
  margin-right: 5px;
}

// logo on devise pages
.userpage-logo {
  padding-bottom: 0.75em;
  width: 60%;
}

// add space above links on sign in and sign up pages
.button.is-info.is-medium {
  margin-bottom: 0.5em;
}

// card for devise pages
.user-card {
  background-color: white;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: $box-shadow;
}

// white text above background
.white-text {
  color: white;
}

// center columns vertically on non-scrolling devise pages
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/****** BACKGROUND PICTURES ******/

// add background to devise pages
.background { 
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.background.one {
  background-image: image-url('DT1.jpg');
}
.background.two {
  background-image: image-url('DT2.jpg');
}
.background.three {
  background-image: image-url('DT3.jpg');
}
.background.four {
  background-image: image-url('DT4.jpg');
}
.background.five {
  background-image: image-url('DT5.jpg');
}

/****** POSTS ******/

// add spacing around post elements
.post-body {
  padding: 1em 0;
}
.post-info {
  padding: 0.5em 0;
}
.post-comments {
  padding-top: 2em;
}

// add margin above nested comments
.media .media {
  margin-top: 1rem;
}